* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}
.content {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 10px;
  height: auto;
}

canvas {
  max-width: 800px !important;
  width: 100%;
  margin: 1rem auto;
}
